aside {
  flex: 1 0 375px;

  @media(max-width: 960px) {
    position: absolute;
    z-index: 2;
  }

  div {
    width: 375px;
    height: 100%;
    padding: 3rem;
    position: fixed;
    background: var(--white);
    transition: left .6s;

    &.active {
      left: 0;
    }

    @media(max-width: 960px) {
      left: -100%;
    }

    @media(max-width: 500px) {
      width: 100%;
    }
    

    nav {
      margin-top: 5rem;
      a {
        display: block;
        position: relative;
        text-transform: uppercase;
        font-size: 1.5rem;
  
        &:last-child {
          max-width: 120px;
          font-size: 0.875rem;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
          }
        }
  
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: -3rem;
          bottom: -.5rem;
          width: 0;
          height: 2px;
          background: var(--yellow-500);
          transition: width .3s;
        }
  
        &.active {
          font-weight: bold;
  
          &::after {
            width: 160px;
          }
        }
  
        & + a {
          margin-top: 1.5rem;
        }
      }
    }
  }
  
}