aside {
  flex: 1 0 375px;
  padding: 3rem;

  @media(max-width: 960px) {
    display: none;
  }

  div {
    position: fixed;
    
    nav {
      margin-top: 5rem;
      a {
        display: block;
        position: relative;
        text-transform: uppercase;
        font-size: 1.5rem;
  
        &:last-child {
          max-width: 120px;
          font-size: 0.875rem;
        }
  
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: -3rem;
          bottom: -.5rem;
          width: 0;
          height: 2px;
          background: var(--yellow-500);
          transition: width .3s;
        }
  
        &.active {
          font-weight: bold;
  
          &::after {
            width: 160px;
          }
        }
  
        & + a {
          margin-top: 1.5rem;
        }
      }
    }
  }
  
}