#home {
  position: relative;
  overflow: hidden;
  
  .diamonds {
    right: -235px;
    bottom: -70px;
    transform: rotate(180deg) scale(1.1);

    @media (max-width: 1450px) {
      display: none;
    }
  }

  @media (max-width: 500px) {
    height: 720px;
  }

  [data-open-menu] {
    display: none;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 1;
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;

    @media(max-width: 960px) {
      display: block;
    }

    @media(max-width: 500px) {
      top: 1rem;
      left: 1rem;
    }

    img {
      width: 100%;
    }
  }
  .container {
    background-size: cover;
    border-radius: 100px 0 600px 0;
    width: 100%;
    display: flex;
    transition: background-image 1.2s;
    position: relative;
    align-items: center;

    @media(max-width: 1450px) {
      border-radius: 100px 0 100px 0;
    }

    @media(max-width: 960px) {
      border-radius: 0;
    }

    @media(max-width: 500px) {
      height: 100%;
    }

    &::before {
      content: "";
      border-radius: 100px 0 600px 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      backdrop-filter: brightness(.5);

      @media(max-width: 1450px) {
        border-radius: 100px 0 100px 0;
      }

      @media(max-width: 960px) {
        border-radius: 0;
      }
    }

    div {
      padding: 0 2rem 2rem;
      margin-top: auto;
      text-transform: uppercase;
      position: relative;
      z-index: 1;

      @media(max-width: 960px) {
        margin-top: 0;
      }

      @media(max-width: 500px) {
        padding-inline: 1rem;
      }

      h1 {
        max-width: 600px;
        font-weight: normal;
        font-size: 4.5rem;
        color: var(--white);

        @media(max-width: 500px) {
          font-size: 3rem;
        }
      }

      a {
        display: inline-flex;
        gap: 1.2rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--gray-500);
        background-color: var(--gray-200);
        padding: .5rem 1rem;
        border-radius: .5rem;
        margin-top: 1rem;

        @media(max-width: 500px) {
          font-size: 1.5rem;

          img {
            width: 25px;
          }
        }
      }
    }
  }
}